# Python: 3.10.0
torch
numpy
pandas
scikit-learn
matplotlib
tensorboard
mlflow
tqdm
pillow
hydra-core
sqlparse>=0.5.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability